section.cart.cart-message
    .l-default
        .cart-message__info
            h1.cart-message__title.title.title--h4 Ваш заказ <span>#378_214</span><br> оформлен
            .cart-message__text О смене статуса заказа вы будете получать уведомления по почте
            a.cart-message__btn.btn.btn--black(href="") История Заказов 
        