- 
    const catalog_menu = [
        {
            href: "",
            text: "Керамическая плитка",
            class: "active",
            id: "1",
            brands: {
                title: "Производители плитки для ванной",
                items: [
                    {
                        href: "",
                        img: "porcelanosa"
                    },
                    {
                        href: "",
                        img: "xlight"
                    },
                    {
                        href: "",
                        img: "krion"
                    },
                    {
                        href: "",
                        img: "venis"
                    }
                ],
            },
            content: {
                menu: [
                    {
                        id: "1",
                        href: "",
                        text: "Плитка для ванной"
                    },
                    {
                        id: "2",
                        href: "",
                        text: "Плитка для кухни"
                    },
                    {
                        id: "3",
                        href: "",
                        text: "Плитка для гостиной"
                    },
                    {
                        id: "4",
                        href: "",
                        text: "Плитка под дерево"
                    },
                    {
                        id: "5",
                        href: "",
                        text: "Плитка под камень"
                    },
                    {
                        id: "6",
                        href: "",
                        text: "Плитка под мрамор"
                    },
                    {
                        id: "7",
                        href: "",
                        text: "Мозаика"
                    },
                    {
                        id: "8",
                        href: "",
                        text: "Клинкерная плитка"
                    },
                    {
                        id: "8",
                        href: "",
                        text: "Клинкерная плитка"
                    },
                    {
                        id: "8",
                        href: "",
                        text: "Клинкерная плитка"
                    },
                    {
                        id: "8",
                        href: "",
                        text: "Клинкерная плитка"
                    },
                    {
                        id: "8",
                        href: "",
                        text: "Клинкерная плитка"
                    },
                    {
                        id: "8",
                        href: "",
                        text: "Клинкерная плитка"
                    },
                    {
                        id: "8",
                        href: "",
                        text: "Клинкерная плитка"
                    },
                    {
                        id: "8",
                        href: "",
                        text: "Клинкерная плитка"
                    },
                    {
                        id: "8",
                        href: "",
                        text: "Клинкерная плитка"
                    },
                    {
                        id: "8",
                        href: "",
                        text: "Клинкерная плитка"
                    },
                    {
                        id: "8",
                        href: "",
                        text: "Клинкерная плитка"
                    }
                ],
                body: [
                    {
                        id: "1",
                        title: "Коллекции плитки для ванной",
                        columns: [
                            {
                                title: "",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                        ]
                    },
                    {
                        id: "2",
                        title: "Коллекции плитки для ванной",
                        columns: [
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                        ]
                    },
                    {
                        id: "3",
                        title: "Коллекции плитки для ванной",
                        columns: [
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                        ]
                    },
                    {
                        id: "4",
                        title: "Коллекции плитки для ванной",
                        columns: [
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                        ]
                    },
                    {
                        id: "5",
                        title: "Коллекции плитки для ванной",
                        columns: [
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                        ]
                    },
                    {
                        id: "6",
                        title: "Коллекции плитки для ванной",
                        columns: [
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                        ]
                    },
                    {
                        id: "7",
                        title: "Коллекции плитки для ванной",
                        columns: [
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                        ]
                    },
                    {
                        id: "8",
                        title: "Коллекции плитки для ванной",
                        columns: [
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                            {
                                title: "Декоры настенные",
                                items: [
                                    {
                                        href: "",
                                        text: "Calacatta SuperwhiteBottega"
                                    },
                                    {
                                        href: "",
                                        text: "Mirage-Image"
                                    },
                                    {
                                        href: "",
                                        text: "Selene"
                                    },
                                    {
                                        href: "",
                                        text: "Prada"
                                    },
                                    {
                                        href: "",
                                        text: "Austin"
                                    }
                                ]
                            },
                        ]
                    },  
                ],
                
            }
        },
        {
            href: "",
            text: "Акции",
            class: "discount"
        },
        {
            href: "",
            text: "Керамическая плитка",
        },
        {
            href: "",
            text: "Керамическая плитка",
        },
        {
            href: "",
            text: "Керамическая плитка",
        },
        {
            href: "",
            text: "Керамическая плитка",
        },
    ]