.ico-mono-arrow-dropdown {
  width: 1.82em;
  height: 1em;
  fill: #fff;
}
.ico-mono-arrow-plus {
  width: 1.83em;
  height: 1em;
  fill: #969696;
}
.ico-mono-arrow-slider {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-arrow {
  width: 0.63em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-basket {
  width: 1em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-big-filter {
  width: 1.4em;
  height: 1em;
  fill: #fff;
}
.ico-mono-car {
  width: 1.42em;
  height: 1em;
  fill: #CEB08F;
}
.ico-mono-check {
  width: 1.05em;
  height: 1em;
  fill: #fff;
}
.ico-mono-delete {
  width: 1em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-doc {
  width: 0.81em;
  height: 1em;
  fill: #969696;
}
.ico-mono-download {
  width: 1em;
  height: 1em;
  fill: #969696;
}
.ico-mono-eye {
  width: 1em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-facebook-service {
  width: 1em;
  height: 1em;
  fill: #969696;
}
.ico-mono-facebook-share {
  width: 1em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-facebook {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-filters-burger {
  width: 1.5em;
  height: 1em;
  fill: #000;
}
.ico-mono-google-service {
  width: 1em;
  height: 1em;
  fill: #969696;
}
.ico-mono-google-share {
  width: 1.02em;
  height: 1em;
  fill: #969696;
}
.ico-mono-graph {
  width: 1em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-heart {
  width: 1.07em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-history {
  width: 0.88em;
  height: 1em;
  fill: #969696;
}
.ico-mono-info {
  width: 1em;
  height: 1em;
  fill: #CEB08F;
}
.ico-mono-instagram {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-logo-bakin {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-medium-filter {
  width: 1.08em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-menu {
  width: 1.17em;
  height: 1em;
  fill: #fff;
}
.ico-mono-off {
  width: 1em;
  height: 1em;
  fill: #969696;
}
.ico-mono-order {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-play {
  width: 0.87em;
  height: 1em;
  fill: #CEB08F;
}
.ico-mono-rub {
  width: 0.76em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-search {
  width: 1.06em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-settings {
  width: 1em;
  height: 1em;
  fill: #969696;
}
.ico-mono-small-filter {
  width: 1.17em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-star {
  width: 0.95em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-twitter-service {
  width: 1.23em;
  height: 1em;
  fill: #969696;
}
.ico-mono-twitter-share {
  width: 1.02em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-twitter {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-unlock {
  width: 0.76em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-user-icon {
  width: 1em;
  height: 1em;
  fill: #969696;
}
.ico-mono-user {
  width: 0.82em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-x {
  width: 0.94em;
  height: 1em;
  fill: #fff;
}
