-
    const sales = [
        {
            href: "",
            img: "sales/1",
            title: "Сезонная распродажа остатков топовой коллекции",
            btn: "Адрес на карте",
        },
        {
            href: "",
            img: "sales/1",
            title: "Сезонная распродажа остатков топовой коллекции",
            btn: "Адрес на карте",
        },
        {
            href: "",
            img: "sales/1",
            title: "Сезонная распродажа остатков топовой коллекции",
            btn: "Адрес на карте",
        },
        {
            href: "",
            img: "sales/1",
            title: "Сезонная распродажа остатков топовой коллекции",
            btn: "Адрес на карте",
        },
        {
            href: "",
            img: "sales/1",
            title: "Сезонная распродажа остатков топовой коллекции",
            btn: "Адрес на карте",
        },
        {
            href: "",
            img: "sales/1",
            title: "Сезонная распродажа остатков топовой коллекции",
            btn: "Адрес на карте",
        },
        {
            href: "",
            img: "sales/1",
            title: "Сезонная распродажа остатков топовой коллекции",
            btn: "Адрес на карте",
        },
        {
            href: "",
            img: "sales/1",
            title: "Сезонная распродажа остатков топовой коллекции",
            btn: "Адрес на карте",
        }
    ]