section.page-404
    h1.page-404__title.title.title--404 Такой страницы у нас нет
    .page-404__subtitle Зато есть прекрасная <a href="" class="page-404__link">плитка для ванной</a> , <a href="" class="page-404__link">гостинной</a> или для <a href="" class="page-404__link">кухни</a>.
    a.page-404__btn.btn.btn--white(href="") На главную