-
    const promotions_products = [
        {
            href: "",
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920 ₽",
            price: "1 180 ",
            img: "products/1",
            status: "Акция",
            imgs: ["products/1", "products/2"],
        },
        {
            href: "",
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920 ₽",
            price: "1 180 ",
            img: "products/2",
            status: "Акция"
        },
        {
            href: "",
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920 ₽",
            price: "1 180 ",
            img: "products/3",
            status: "Акция"
        },
        {
            href: "",
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920 ₽",
            price: "1 180 ",
            img: "products/4",
            status: "Акция"
        },
        {
            href: "",
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920 ₽",
            price: "1 180 ",
            img: "products/1",
            status: "Акция"
        },
        {
            href: "",
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920 ₽",
            price: "1 180 ",
            img: "products/2",
            status: "Акция"
        },
        {
            href: "",
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920 ₽",
            price: "1 180 ",
            img: "products/3",
            status: "Акция"
        },
        {
            href: "",
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920 ₽",
            price: "1 180 ",
            img: "products/4",
            status: "Акция"
        }
    ]