section.about 
    .l-default
        .profile-content.about__wrapper
            include ../../components/sidebar/sidebar-about.pug
            .about__content
                h1.about__title.title.title--h4 О компании
                .about__content-img
                    +webp(['sales/1'], 'jpg', 'lazy')
                .about__text 
                    p Магазин, в котором представлен широкий ассортимент плитки для ванной комнаты, напольной плитки и керамогранита, стеклянной мозаики, керамического паркета, клинкера и ступеней. Среди предлагаемых нами коллекций всегда есть множество новинок! В выставочном зале представлен модный кафель от ведущих производителей из Испании, Италии, Германии и России. Всегда в наличии более 1000 коллекций на складах и в магазинах керамической плитки в Москве. Удобная ценовая политика, а также гибкая система скидок создает условия для взаимовыгодного сотрудничества.
                    p Продажа производится оптом и в розницу и под заказ из Испании, Италии и Германии. Самые низкие цены на некоторые виды керамической облицовочной плитки в Москве и по России. Мы рады предложить Вам широкий спектр отделочных материалов:
                .about__imgs
                    .about__img.about__img--half
                        +webp(['sales/1'], 'jpg', 'lazy')
                    .about__img.about__img--half   
                        +webp(['sales/1'], 'jpg', 'lazy')
                ul.about__list 
                    li Керамическую плитку, керамический гранит и мозаику из Италии, Испании, Польши и России;
                    li Натуральный камень, декоры и мраморную мозаику ;
                    li Клинкерную плитку и ступени;
                    li Смесители для раковин, ванных и кухни;
                    li Аксессуары для ванной и сантехники;
                    li Раковины и столешницы для ванных;
                    li Души и душевые панели;
                    li Унитазы и биде;
                    li Готовая мебель для ванных, а также изготовление мебели по Вашим размерам;
                    li И многое другое...
    .about__bottom
        .l-default
            .about__items
                .about__item
                    .about__item-icon
                        +svgMono('car')
                    .about__item-info
                        .about__item-title Быстрая доставка
                        .about__item-text Have you ever finally just gave in to the temptation and read your horoscope.
                .about__item
                    .about__item-icon
                        +svgMono('star')
                    .about__item-info
                        .about__item-title Высокое качество
                        .about__item-text Have you ever finally just gave in to the temptation and read your horoscope.
                .about__item
                    .about__item-icon
                        +svgMono('unlock')
                    .about__item-info
                        .about__item-title Безопасность
                        .about__item-text Have you ever finally just gave in to the temptation and read your horoscope.