.sidebar.sidebar-cart.sticky(data-sticky-class="is-sticky" data-margin-top="140"  data-margin-bottom="140" data-sticky-for="1199") 
    form.sidebar-cart__form
        .sidebar-cart__top
            .sidebar-cart__item.sidebar-cart__cost
                .sidebar-cart__text Стоимость:
                .sidebar-cart__price 1 403 ₽
            .sidebar-cart__item.sidebar-cart__discount
                .sidebar-cart__text Скидка:
                .sidebar-cart__price.price--discount 600 ₽
            .sidebar-cart__item.sidebar-cart__delivery
                .sidebar-cart__text Доставка:
                .sidebar-cart__price.price--delivery 800 ₽
        .sidebar-cart__item.sidebar-cart__result 
            .sidebar-cart__text Итого к оплате:
            .sidebar-cart__price 1 357 ₽
        .sidebar-cart__btn.btn.btn--black Оформить заказ
        .sidebar-cart__checkbox.checkbox
            input.checkbox__input(type="checkbox" checked)
            .checkbox__btn
            .checkbox__text Согласен с условиями <a href="">Правил пользования торговой площадкой и правилами возврата</a>