-
    const brands = [
        {
            href: "",
            img: "svg/brands/krion",
        },
        {
            href: "",
            img: "svg/brands/porcelanosa",
        },
        {
            href: "",
            img: "svg/brands/venis",
        },
        {
            href: "",
            img: "svg/brands/xlight",
        },
        {
            href: "",
            img: "svg/brands/krion",
        },
        {
            href: "",
            img: "svg/brands/porcelanosa",
        },
        {
            href: "",
            img: "svg/brands/venis",
        },
        {
            href: "",
            img: "svg/brands/xlight",
        },
        {
            href: "",
            img: "svg/brands/krion",
        },
        {
            href: "",
            img: "svg/brands/porcelanosa",
        },
        {
            href: "",
            img: "svg/brands/venis",
        },
        {
            href: "",
            img: "svg/brands/xlight",
        },
        {
            href: "",
            img: "svg/brands/krion",
        },
        {
            href: "",
            img: "svg/brands/porcelanosa",
        },
        {
            href: "",
            img: "svg/brands/venis",
        },
        {
            href: "",
            img: "svg/brands/xlight",
        },
    ]

    const brand_details = [
        {
            img: "brands-detail/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            price: "12 180",
            brand: "Xlight",
            country: "Испания",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,",
        },
        {
            img: "brands-detail/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            price: "12 180",
            brand: "Xlight",
            country: "Испания",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,",
        },
        {
            img: "brands-detail/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            price: "12 180",
            brand: "Xlight",
            country: "Испания",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,",
        },
        {
            img: "brands-detail/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            price: "12 180",
            brand: "Xlight",
            country: "Испания",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,",
        },
        {
            img: "brands-detail/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            price: "12 180",
            brand: "Xlight",
            country: "Испания",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,",
        },
        {
            img: "brands-detail/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            price: "12 180",
            brand: "Xlight",
            country: "Испания",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,",
        }
    ]