include brands-data.pug
include ../../components/brand/brand.pug

section.brands
    .l-default
        .brands__wrapper
            .brands__top
                h2.brands__title.title.title--h2 Производители плитки
                a.btn__more(href="") 
                    .btn__more-text Все фабрики
                    .btn__more-icon
                        +svgMono('arrow')
            .brands__slider-wrapper
                .brands__items.swiper-container 
                    .swiper-wrapper
                        each brand in brands
                            a.swiper-slide(href="")
                                +brand(brand, '', 'swiper-lazy')
                .slider-arrows
                    .slider-arrow.slider-arrow-prev
                        +svgMono('arrow-slider')
                    .slider-arrow.slider-arrow-next
                        +svgMono('arrow-slider')
            a.btn.btn--all.btn--black(href="") Посмотреть всех производителей
