.popup.popup-message#popup-message
    .popup-close(data-fancybox-close)
        .popup-close__spans
            span 
            span 
    .popup-content
        .popup__title.title--popup Окно с важным сообщением
        .popup__subtitle Место для вывода важного информационного сообщения.
        a.popup__btn.btn.btn--black(data-fancybox-close href="") Ok
