.popup-lk.hidden   
    .popup-lk__content
        .popup-lk__item
            a.popup-lk__link(href="") 
                .popup-lk__link-icon
                    +svgMono('doc')
                .popup-lk__link-text Текущие заказы
        .popup-lk__item
            a.popup-lk__link(href="") 
                .popup-lk__link-icon
                    +svgMono('history')
                .popup-lk__link-text История заказов
        .popup-lk__item
            a.popup-lk__link(href="") 
                .popup-lk__link-icon
                    +svgMono('settings')
                .popup-lk__link-text Настройки
        .popup-lk__item
            a.popup-lk__link(href="") 
                .popup-lk__link-icon
                    +svgMono('off')
                .popup-lk__link-text Выйти