section.message.lazy(data-bg=".././img/message/bg.jpg")
    .message__info
        h3.message__title.title.title--h3 Не нашли нужной позиции в каталоге? 
        .message__subtitle Мы подготовим для вас дизайн проект, или квалифицированно проконсультируем о всех видах плитки.
        a.message__btn.btn.btn--black(href="#popup-write" data-fancybox) Оставить заявку

include ../../components/popups/popup-write.pug
