section.catalog-detail-description
    .l-content 
        .catalog-detail-description__wrapper
            .catalog-detail-description__left
                .catalog-detail-description__top.page-top
                    a.page-top__back.page-top__back--text(href="")    
                        .page-top__back-icon  
                            +svgMono('arrow')
                        .page-top__back-text Плитка для ванной
                    .page-top__back-mobile
                .catalog-detail-description__sliders
                    .catalog-detail-description__thumbs-wrapper
                        .slider-arrow.slider-arrow-prev
                            +svgMono('arrow-slider')
                        .catalog-detail-description__thumbs.swiper-container
                            .swiper-wrapper     
                                .swiper-slide
                                    +webp(['detail/1-1'], 'jpg')
                                .swiper-slide
                                    +webp(['detail/1'], 'jpg')
                                .swiper-slide
                                    +webp(['detail/1'], 'jpg')
                                .swiper-slide
                                    +webp(['detail/1'], 'jpg')
                                .swiper-slide
                                    +webp(['detail/1'], 'jpg')
                                .swiper-slide
                                    +webp(['detail/1'], 'jpg')
                                .swiper-slide
                                    +webp(['detail/1'], 'jpg')
                        .slider-arrow.slider-arrow-next
                            +svgMono('arrow-slider')
                    .catalog-detail-description__slider.swiper-container
                        .swiper-wrapper     
                            .swiper-slide(data-fancybox data-src="img/detail/1-1.jpg")
                                +webp(['detail/1-1'], 'jpg', 'swiper-lazy')
                            .swiper-slide(data-fancybox data-src="img/detail/1.jpg")
                                +webp(['detail/1'], 'jpg', 'swiper-lazy')
                            .swiper-slide(data-fancybox data-src="img/detail/1.jpg")
                                +webp(['detail/1'], 'jpg', 'swiper-lazy')
                            .swiper-slide(data-fancybox data-src="img/detail/1.jpg")
                                +webp(['detail/1'], 'jpg', 'swiper-lazy')
                            .swiper-slide(data-fancybox data-src="img/detail/1.jpg")
                                +webp(['detail/1'], 'jpg', 'swiper-lazy')
                            .swiper-slide(data-fancybox data-src="img/detail/1.jpg")
                                +webp(['detail/1'], 'jpg', 'swiper-lazy')
                            .swiper-slide(data-fancybox data-src="img/detail/1.jpg")
                                +webp(['detail/1'], 'jpg', 'swiper-lazy')
            .catalog-detail-description__right
                .catalog-detail-description__info
                    .catalog-detail-description__article Артикул: km-26998
                    h1.catalog-detail-description__title.title.title--h4 Напольная плитка PAV. IBIZA SKY (м2) 75*75
                    .catalog-detail-description__brand
                        .catalog-detail-description__collection Коллекция: <span>75x75 (Absolut Keramika, Испания)</span>
                        .catalog-detail-description__fabric
                            .catalog-detail-description__fabric-icon 
                                img.lazy(data-src="img/svg/fabric.svg", alt="")
                            .catalog-detail-description__fabric-text Фабрика
                    .catalog-detail-description__subtitle Купить коллекцию Растяжки производителя Bonaparte по выгодным ценам можно оформив заказ в нашем интернет-магазине или в салоне по адресу: МО, г. Мытищи, Ярославское шоссе, д. 118 Б (ТК "Строим Дом").
                    .catalog-detail-description__characteristics
                        .catalog-detail-description__characteristics-title Характеристики напольной плитки PAV. IBIZA SKY
                        .catalog-detail-description__characteristics-items  
                            .catalog-detail-description__characteristics-column
                                .catalog-detail-description__characteristic
                                    .catalog-detail-description__characteristic-title Размер (см) 
                                    .catalog-detail-description__characteristic-value 75х75
                                .catalog-detail-description__characteristic
                                    .catalog-detail-description__characteristic-title Тип 
                                    .catalog-detail-description__characteristic-value Напольная плитка
                                .catalog-detail-description__characteristic
                                    .catalog-detail-description__characteristic-title Штук в упаковке 
                                    .catalog-detail-description__characteristic-value металл
                                .catalog-detail-description__characteristic
                                    .catalog-detail-description__characteristic-title М2 в упаковке
                                    .catalog-detail-description__characteristic-value Р6М5
                                .catalog-detail-description__characteristic
                                    .catalog-detail-description__characteristic-title Размер (см) 
                                    .catalog-detail-description__characteristic-value 75х75
                                .catalog-detail-description__characteristic
                                    .catalog-detail-description__characteristic-title Тип 
                                    .catalog-detail-description__characteristic-value Напольная плитка
                                .catalog-detail-description__characteristic
                                    .catalog-detail-description__characteristic-title Штук в упаковке 
                                    .catalog-detail-description__characteristic-value металл
                                .catalog-detail-description__characteristic
                                    .catalog-detail-description__characteristic-title М2 в упаковке
                                    .catalog-detail-description__characteristic-value Р6М
                    .catalog-detail-description__info-bottom
                        .catalog-detail-description__characteristics-title Стоимость и покупка
                        .catalog-detail-description__sizes
                            .catalog-detail-description__size
                                .catalog-detail-description__size-title Ширина (мм)
                                .catalog-detail-description__size-input.input-wrapper
                                    input.input(type="number" value="1" step="2" min="0" name="width")
                                    .input-arrow.input-arrow-plus
                                        +svgMono('arrow-plus')
                                    .input-arrow.input-arrow-minus
                                        +svgMono('arrow-plus')
                            .catalog-detail-description__size
                                .catalog-detail-description__size-title Высота (мм)
                                .catalog-detail-description__size-input.input-wrapper
                                    input.input(type="number" value="1" step="2" min="0" name="height")
                                    .input-arrow.input-arrow-plus
                                        +svgMono('arrow-plus')
                                    .input-arrow.input-arrow-minus
                                        +svgMono('arrow-plus')
                        .catalog-detail-description__btns
                            .catalog-detail-description__price-old.product__price-old 920 ₽
                            .catalog-detail-description__price <span>12 180 <i class="icon-rub"></i></span> / м<sup>2</sup>
                            .catalog-detail-description__count
                                .catalog-detail-description__count-title Кол-во
                                .catalog-detail-description__count-input.input-wrapper
                                    input.input(type="number" value="1" step="2" min="0" name="count" placeholder="М2")
                                    .input-arrow.input-arrow-plus
                                        +svgMono('arrow-plus')
                                    .input-arrow.input-arrow-minus
                                        +svgMono('arrow-plus')
                            .catalog-detail-description__package
                                .catalog-detail-description__count-title Упаковок
                                .input-wrapper
                                    input.input(type="number" value="1" step="2" min="0" name="package" placeholder="Упаковок")
                                    .input-arrow.input-arrow-plus
                                        +svgMono('arrow-plus')
                                    .input-arrow.input-arrow-minus
                                        +svgMono('arrow-plus')
                            .catalog-detail-description__icons
                                a.product__icon.product__icons-graph(href="")  
                                    +svgMono('graph')
                                    .product__icon-count 10
                                a.product__icon.product__icons-favorites 
                                    +svgMono('heart')
                                    .product__icon-count
                                a.catalog-detail-description__btn.btn.btn--black(href="") 
                                    .product__btn-text В корзину
                                    .product__btn-icon
                                        +svgMono('basket')