-
    const catalog_sliders = [
        {
            title: "Коллекции плитки для ванной",
            items: [
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    status: "Остатки",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    status: "Новинка",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
            ]
        },
        {
            title: "Коллекции плитки для кухни",
            items: [
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    status: "Остатки",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    status: "Новинка",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
            ]
        },
        {
            title: "Плитка для гостиной",
            items: [
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    status: "Остатки",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    status: "Новинка",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
            ]
        },
        {
            title: "Плитка для гостинной",
            items: [
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    status: "Остатки",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    status: "Новинка",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    icons: true,
                },
            ]
        },
        {
            title: "Мозаика",
            items: [
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    status: "Остатки",
                    icons: true,
                },
                {
                    href: "",
                    img: "collection/1",
                    title: "Коллекция Calacatta",
                    count: "7 товаров",
                    brand: "Xlight | Испания",
                    status: "Новинка",
                    icons: true,
                },
            ]
        }
    ]

    const catalog_collections = [
        {
            img: "brands-detail/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            price: "12 180",
            brand: "Xlight",
            country: "Испания",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,",
        },
        {
            img: "brands-detail/2",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            price: "12 180",
            brand: "Xlight",
            country: "Испания",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,",
        },
        {
            img: "brands-detail/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            price: "12 180",
            brand: "Xlight",
            country: "Испания",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,",
        },
        {
            img: "brands-detail/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            price: "12 180",
            brand: "Xlight",
            country: "Испания",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,",
        },
        {
            img: "brands-detail/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            price: "12 180",
            brand: "Xlight",
            country: "Испания",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,",
        },
        {
            img: "brands-detail/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            price: "12 180",
            brand: "Xlight",
            country: "Испания",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,",
        }
    ]

    const catalog_slider_detail = [
        {
            href: "",
            img: "brands-detail/1"
        },
        {
            href: "",
            img: "brands-detail/2"
        },
        {
            href: "",
            img: "brands-detail/1"
        },
        {
            href: "",
            img: "brands-detail/1"
        },
        {
            href: "",
            img: "brands-detail/1"
        }
    ]
    