-
    const products = [
        {
            href: "",
            img: ["products/1"],
            status: "Акция",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>",
            imgs: ["products/1", "products/2"],
        },
        {
            href: "",
            img: ["products/2"],
            status: "Акция",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/3"],
            status: "Акция",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/4"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/1"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/2"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/3"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/4"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/1"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/2"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/3"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/4"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/1"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/2"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/3"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/4"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/1"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/2"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/3"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
        {
            href: "",
            img: ["products/4"],
            status: "",
            icons: true,
            title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
            oldprice: "920",
            price: "1 180",
            text: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit</p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>"
        },
    ]