.filters-chosen(id="mse2_selected_wrapper")
    .filters-chosen__item(id="mse2_selected")
        .filters-chosen__item-close  
            span 
            span  
        <strong>Категория:&nbsp;</strong>
        a.filters-chosen__item-text(href="#" data-id="mse2_resource|parent_1" class="mse2_selected_link") <em>test&nbsp;</em>
         