-
    collections = [
        {
            href: "",
            img: "collection/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            brand: "Xlight | Испания",
            status: "Остатки"
        },
        {
            href: "",
            img: "collection/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            brand: "Xlight | Испания",
            status: "Новинка"
        },
        {
            href: "",
            img: "collection/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            brand: "Xlight | Испания"
        },
        {
            href: "",
            img: "collection/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            brand: "Xlight | Испания"
        },
        {
            href: "",
            img: "collection/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            brand: "Xlight | Испания"
        },
        {
            href: "",
            img: "collection/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            brand: "Xlight | Испания"
        },
        {
            href: "",
            img: "collection/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            brand: "Xlight | Испания"
        },
        {
            href: "",
            img: "collection/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            brand: "Xlight | Испания"
        },
        {
            href: "",
            img: "collection/1",
            title: "Коллекция Calacatta",
            count: "7 товаров",
            brand: "Xlight | Испания"
        }
    ]