-
    const footer_items = [
        {
            title: "Информация",
            list: [
                {
                    href: "",
                    text: "О магазине"
                },
                {
                    href: "",
                    text: "Шоурум"
                },
                {
                    href: "",
                    text: "Как купить?"
                },
                {
                    href: "",
                    text: "Доставка и самовывоз"
                },
                {
                    href: "",
                    text: "Оптовикам"
                },
                {
                    href: "",
                    text: "О плитке"
                }
            ]
        },
        {
            title: "Каталог",
            list: [
                {
                    href: "",
                    text: "Плитка для ванной"
                },
                {
                    href: "",
                    text: "Плитка на кухню"
                },
                {
                    href: "",
                    text: "Плитка в коридор"
                },
                {
                    href: "",
                    text: "Мозаика"
                },
                {
                    href: "",
                    text: "Клинкер и ступени"
                }
            ]
        },
        {
            title: "Фабрики",
            list_top: [
                {
                    href: "",
                    text: "Испанская плитка"
                },
                {
                    href: "",
                    text: "Итальянская плитка"
                },
                {
                    href: "",
                    text: "Российская плитка"
                }
            ],
            list_bottom: [
                {
                    href: "",
                    text: "Absolut Keramika"
                },
                {
                    href: "",
                    text: "VALENTIA"
                },
                {
                    href: "",
                    text: "Lantic colonial"
                },
                {
                    href: "",
                    text: "LOVE CERAMIC TILES"
                },
                {
                    href: "",
                    text: "Все фабрики"
                }
            ]
        },
        {
            title: "Кабинет",
            list: [
                {
                    href: "",
                    text: "Войти"
                },
                {
                    href: "",
                    text: "История заказов"
                },
                {
                    href: "",
                    text: "Настройки"
                },
                {
                    href: "",
                    text: "Корзина"
                }
            ]
        },
        {
            title: "Связаться с нами",   
            address: {
                title: "Адрес салона:",
                text: "Мо, г. Мытищи, Ярославское шоссе, д. 118 Б",
                href: ""
            },
            contact: ["", "", "Время работы склада:", "Пн-вс с 9:00 до 19:00"],
            btn: {
                href: "",
                text: "Написать директору",
            }
        }
    ]