-
    const articles = [
        {
            href: "",
            img: "articles/1",
            title: "График работы на Новогодние праздники",
        },
        {
            href: "",
            img: "articles/2",
            title: "АКЦИЯ! Грандиозная весна. Скидки до 25% на плитку и сантехнику",
        },
        {
            href: "",
            img: "articles/3",
            title: "Новинка! Керамогранит 75х75",
        },
        {
            href: "",
            img: "articles/4",
            title: "Фирменный шоу-рум ИТАЛОН | ITALON",
        },
        {
            href: "",
            img: "articles/1",
            title: "График работы на Новогодние праздники",
        },
        {
            href: "",
            img: "articles/2",
            title: "АКЦИЯ! Грандиозная весна. Скидки до 25% на плитку и сантехнику",
        },
        {
            href: "",
            img: "articles/3",
            title: "Новинка! Керамогранит 75х75",
        },
        {
            href: "",
            img: "articles/4",
            title: "Фирменный шоу-рум ИТАЛОН | ITALON",
        },
        {
            href: "",
            img: "articles/1",
            title: "График работы на Новогодние праздники",
        },
        {
            href: "",
            img: "articles/2",
            title: "АКЦИЯ! Грандиозная весна. Скидки до 25% на плитку и сантехнику",
        },
        {
            href: "",
            img: "articles/3",
            title: "Новинка! Керамогранит 75х75",
        },
        {
            href: "",
            img: "articles/4",
            title: "Фирменный шоу-рум ИТАЛОН | ITALON",
        },
    ]